<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Askbootstrap" />
  <meta name="author" content="Askbootstrap" />
  <title>Happy Meal</title><!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="/css/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/slick-theme.min.css" /><!-- Feather Icon-->
  <link href="/css/feather.css" rel="stylesheet" type="text/css" /><!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" /><!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" /><!-- Sidebar CSS -->
  <link href="/css/demo.css" rel="stylesheet" />
</head>
<body>
  <header class="section-header">
    <section class="header-main shadow-sm bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-1">
            <a href="/index" class="brand-wrap mb-0"><img alt="#" class="img-fluid" src="/picture/logo_web.png" /></a><!-- brand-wrap.// -->
          </div>
          <div class="col-3 d-flex align-items-center m-none">
            <div class="dropdown mr-3">
              <a class="text-dark dropdown-toggle d-flex align-items-center py-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div>
                <i class="feather-map-pin mr-2 bg-light rounded-pill p-2 icofont-size"></i>
              </div>
              <div>
                <p class="text-muted mb-0 small">Select Location</p>Jawaddi Ludhiana...
              </div></a>
              <div class="dropdown-menu p-0 drop-loc" aria-labelledby="navbarDropdown">
                <div class="osahan-country">
                  <div class="search_location bg-primary p-3 text-right">
                    <div class="input-group rounded shadow-sm overflow-hidden">
                      <div class="input-group-prepend">
                        <button class="border-0 btn btn-outline-secondary text-dark bg-white btn-block"><i class="feather-search"></i></button>
                      </div><input type="text" class="shadow-none border-0 form-control" placeholder="Enter Your Location" />
                    </div>
                  </div>
                  <div class="p-3 border-bottom">
                    <a href="/index" class="text-decoration-none">
                    <p class="font-weight-bold text-primary m-0"><i class="feather-navigation"></i>New York,USA</p></a>
                  </div>
                  <div class="filter">
                    <h6 class="px-3 py-3 bg-light pb-1 m-0 border-bottom">Choose your country</h6>
                    <div class="custom-control border-bottom px-0 custom-radio">
                      <input type="radio" id="customRadio1" name="location" class="custom-control-input" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio1">Afghanistan</label>
                    </div>
                    <div class="custom-control border-bottom px-0 custom-radio">
                      <input type="radio" id="customRadio2" name="location" class="custom-control-input" checked="checked" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio2">India</label>
                    </div>
                    <div class="custom-control border-bottom px-0 custom-radio">
                      <input type="radio" id="customRadio3" name="location" class="custom-control-input" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio3">USA</label>
                    </div>
                    <div class="custom-control border-bottom px-0 custom-radio">
                      <input type="radio" id="customRadio4" name="location" class="custom-control-input" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio4">Australia</label>
                    </div>
                    <div class="custom-control border-bottom px-0 custom-radio">
                      <input type="radio" id="customRadio5" name="location" class="custom-control-input" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio5">Japan</label>
                    </div>
                    <div class="custom-control px-0 custom-radio">
                      <input type="radio" id="customRadio6" name="location" class="custom-control-input" /><label class="custom-control-label py-3 w-100 px-3" for="customRadio6">China</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- col.// -->
          <div class="col-8">
            <div class="d-flex align-items-center justify-content-end pr-5">
              <!-- search --><a href="/search" class="widget-header mr-4 text-dark">
              <div class="icon d-flex align-items-center">
                <i class="feather-search h6 mr-2 mb-0"></i><span>Search</span>
              </div></a><!-- offers --><a href="/offers" class="widget-header mr-4 text-white btn bg-primary m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-disc h6 mr-2 mb-0"></i><span>Offers</span>
              </div></a><!-- signin --><a href="/login" class="widget-header mr-4 text-dark m-none">
              <div class="icon d-flex align-items-center">
                <i class="feather-user h6 mr-2 mb-0"></i><span>Sign in</span>
              </div></a><!-- my account -->
              <div class="dropdown mr-4 m-none">
                <a href="#" class="dropdown-toggle text-dark py-3 d-block" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img alt="#" src="/picture/1.jpg" class="img-fluid rounded-circle header-user mr-2 header-user" id="userImage"/>
                  Hi <span id="username">User</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/profile">My account</a>
                  <a class="dropdown-item" href="/faq">Delivery support</a>
                  <a class="dropdown-item" href="/contact_us">Contant us</a>
                  <a class="dropdown-item" href="/terms">Term of use</a>
                  <a class="dropdown-item" href="/privacy">Privacy policy</a>
                  <a class="dropdown-item" href="/login">Logout</a>
                </div>
              </div><!-- signin --><a href="/checkout" class="widget-header mr-4 text-dark">
              <div class="icon d-flex align-items-center">
                <i class="feather-shopping-cart h6 mr-2 mb-0"></i><span>Cart</span>
              </div></a><a class="toggle" href="#"><span></span></a>
            </div><!-- widgets-wrap.// -->
          </div><!-- col.// -->
        </div><!-- row.// -->
      </div><!-- container.// -->
    </section><!-- header-main .// -->
  </header>
  <div class="d-none">
    <div class="bg-primary p-3 d-flex align-items-center">
      <a class="toggle togglew toggle-2" href="#"><span></span></a>
      <h4 class="font-weight-bold m-0 text-white">Thanks:)</h4>
    </div>
  </div>
  <div class="py-5 osahan-coming_soon d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="text-center pb-3">
        <h1 id="order-success-message" class="font-weight-bold">Your order has been successful</h1>
        <p>Check your order status in <a href="/my_order" class="font-weight-bold text-decoration-none text-primary">My Orders</a>about next steps information.</p>
      </div><!-- continue -->
      <div class="bg-white rounded text-center p-4 shadow-sm">
        <h1 class="display-1 mb-4">??</h1>
        <h6 class="font-weight-bold mb-2">Preparing your order</h6>
        <p class="small text-muted">Your order will be prepared and will come soon</p><a href="/my_order" class="btn rounded btn-primary btn-lg btn-block">Track My Order</a>
      </div>
    </div>
  </div><!-- footer -->
  <footer class="section-footer border-top bg-dark">
    <div class="container">
      <section class="footer-top padding-y py-5">
        <div class="row pt-3">
          <aside class="col-md-4 footer-about">
            <article class="d-flex pb-3">
              <div><img alt="#" src="/picture/logo_web.png" class="logo-footer mr-3" /></div>
              <div>
                <h6 class="title text-white">About Us</h6>
                <p class="text-muted">Changing the dining model, giving you a happy meal. We strive to bring the best of culinary delights right to your doorstep, making every dining experience a seamless and enjoyable one. Whether it’s a cozy dinner at home or a bustling office lunch, we ensure that satisfaction and taste are just an order away.</p>
                <div class="d-flex align-items-center">
                  <a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Facebook" target="_blank" href="#"><i class="feather-facebook"></i></a><a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Instagram" target="_blank" href="#"><i class="feather-instagram"></i></a><a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Youtube" target="_blank" href="#"><i class="feather-youtube"></i></a><a class="btn btn-icon btn-outline-light mr-1 btn-sm" title="Twitter" target="_blank" href="#"><i class="feather-twitter"></i></a>
                </div>
              </div>
            </article>
          </aside>
          <aside class="col-sm-3 col-md-2 text-white">
            <h6 class="title">Error Pages</h6>
            <ul class="list-unstyled hov_footer">
              <li>
                <a href="/not_found" class="text-muted">Not found</a>
              </li>
              <li>
                <a href="/maintence" class="text-muted">Maintence</a>
              </li>
              <li>
                <a href="/coming_soon" class="text-muted">Coming Soon</a>
              </li>
            </ul>
          </aside>
          <aside class="col-sm-3 col-md-2 text-white">
            <h6 class="title">Services</h6>
            <ul class="list-unstyled hov_footer">
              <li>
                <a href="/faq" class="text-muted">Delivery Support</a>
              </li>
              <li>
                <a href="/contact_us" class="text-muted">Contact Us</a>
              </li>
              <li>
                <a href="/terms" class="text-muted">Terms of use</a>
              </li>
              <li>
                <a href="/privacy" class="text-muted">Privacy policy</a>
              </li>
            </ul>
          </aside>
          <aside class="col-sm-3 col-md-2 text-white">
            <h6 class="title">For users</h6>
            <ul class="list-unstyled hov_footer">
              <li>
                <a href="/login" class="text-muted">User Login</a>
              </li>
              <li>
                <a href="/signup" class="text-muted">User register</a>
              </li>
              <li>
                <a href="/forgot_password" class="text-muted">Forgot Password</a>
              </li>
              <li>
                <a href="/profile" class="text-muted">Account Setting</a>
              </li>
            </ul>
          </aside>
          <aside class="col-sm-3 col-md-2 text-white">
            <h6 class="title">More Pages</h6>
            <ul class="list-unstyled hov_footer">
              <li>
                <a href="/trending" class="text-muted">Trending</a>
              </li>
              <li>
                <a href="/most_popular" class="text-muted">Most popular</a>
              </li>
              <li>
                <a href="/restaurant" class="text-muted">Restaurant Details</a>
              </li>
              <li>
                <a href="/favorites" class="text-muted">Favorites</a>
              </li>
            </ul>
          </aside>
        </div><!-- row.// -->
      </section>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script><!-- slick Slider JS-->
  <script type="text/javascript" src="/js/slick.min.js"></script><!-- Sidebar JS-->
  <script type="text/javascript" src="/js/hc-offcanvas-nav.js"></script><!-- Custom scripts for all pages-->
  <script type="text/javascript" src="/js/osahan.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      axios.get('/api/users/me')
              .then(response => {
                const user = response.data;
                document.getElementById('username').textContent = user.uname;
                document.getElementById('order-success-message').textContent = `${user.uname}, Your order has been successful`;
              })
              .catch(error => {
                console.error('Error fetching user data:', error);
                // 处理错误，例如重定向到登录页面
                window.location.href = '/login';
              })
    })
  </script>
</body>
</html>
